.entire {
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    color: salmon;
    width: 100%;
    width: 50%;
    background-color: black;
    margin-left: 25%;
    margin-top: 200px;
    padding: 30px;
}
h2 {
    font-size: 20px;
    margin: 30px;
    text-align: center;
}
p {
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
a {
    width: 100px;
    background-color: salmon;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    color: black;
    text-decoration-line: none ;
    font-weight: bold;
}
.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}