{% extends 'base.html' %}
{% block css %} {% load static %}
    <link rel="stylesheet" type ="text/css" href ="{% static 'mypage.css'%}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block entire %}
        <h1>To-Do-List</h1>
        <div class="list">
            {% for list in lists %}
            <li>
                <a href="{% url 'detail' list.pk %}">{{ list.title }} {{ list.date|timeuntil }}</a>
            </li>
            {% endfor %}
            
        </div>
        <div class="new">
            <a href="{% url 'new' %}">글 쓰러가기</a>
        </div>
       
        <hr style="border: solid 1px salmon; width: 70%;">

        <div class="del">
            {% for comment in comments %}
            <li>
                <a href="{% url 'detail' comment.list.pk %}">{{ comment.content }}</a></li>
            {% endfor %}
        </div>

{% endblock %}